.Container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;

    /* border: 1px solid black; */
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    /* PUT 4 ITEM IN ROW: */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
}